@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@font-face {
    font-family: 'Gumball';
    src: url('../fonte/gumball.TTF') format('truetype');
    font-weight: normal;
}
:root {
    --cor0: #abb7c9;
    --cor1: #4684DB;
    --cor2: #3666A8;
    --cor3: #39475C;
    --cor4: #1D375C;
    --cor5: #00065C;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-gumbal: 'Gumball', 'monospace';
}
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: var(--cor0);
}



header{
    background-image: linear-gradient(to top, var(--cor4), var(--cor2));
    color: white;
    text-align: center;
}
header h1{
    font-family: var(--fonte-gumbal);
    font-size: 4vw;
    padding-top: 50px;
    padding-bottom: 35px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521);
}
header p{
    font-family: monospace;
    font-size: 2vw;
    padding-bottom: 35px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521);
}
nav{
    background-color: var(--cor4);
    padding: 10px;
}
nav a{
    text-decoration: none;
    font-family: monospace;
    color: white;
    padding: 5px 10px 5px 10px;
    margin-left: 20px;
    font-size: 2vw;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521);
}
nav a:hover{
    background-color: var(--cor2);
    border-radius: 10px;
}



section{
    display: flex;
}
section img{
    height: 18vw;
    border-radius: 50%;
    padding: 3vw;
}
section h2{
    padding-top: 3.4vw;
    font-size: 2.2vw;
    font-family: 'Sriracha', cursive;
}
section p{
    font-family: 'Sriracha', cursive;
    font-size: 1.8vw;
}